@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wraper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  min-height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
}

.hiden {
  display: none;
}

body {
  background: #498cec;
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 400;
  color: white;
}

body.noscrol {
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.contener {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0px 10px;
}

.header {
  padding: 75px 0;
}

@media (max-width: 780px) {
  .header {
    padding: 60px 0;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 40px 0;
  }
}

.header__contener {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__info {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__city {
  font-size: 50px;
  margin-bottom: 9px;
}

@media (max-width: 780px) {
  .header__city {
    font-size: 46px;
  }
}

@media (max-width: 500px) {
  .header__city {
    font-size: 40px;
  }
}

.header__select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  mix-blend-mode: normal;
  opacity: 0.6;
}

@media (max-width: 440px) {
  .header__select {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__select-city {
  cursor: pointer;
  margin-right: 35px;
}

@media (max-width: 440px) {
  .header__select-city {
    margin-bottom: 10px;
  }
}

.header__geoloc {
  cursor: pointer;
  position: relative;
  padding-left: 15px;
}

.header__geoloc::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -5px;
  width: 15px;
  height: 15px;
  background: url(../img/location.svg) no-repeat center/cover;
}

.header__form {
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__input {
  padding: 30px 90px 30px 30px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  position: relative;
  width: 100%;
  font-size: 30px;
  color: #000000;
  border: 2px solid white;
}

.header__input:focus {
  border: 2px solid #0b6aca;
}

@media (max-width: 670px) {
  .header__input {
    padding: 20px 60px 20px 20px;
    font-size: 26px;
  }
}

@media (max-width: 500px) {
  .header__input {
    padding: 10px 55px 10px 10px;
    font-size: 24px;
  }
}

@media (max-width: 380px) {
  .header__input {
    padding: 5px 45px 5px 5px;
    font-size: 24px;
  }
}

.header__input-btn {
  font-size: 30px;
  color: #1086ff;
  position: absolute;
  top: 50%;
  left: 87%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

@media (max-width: 670px) {
  .header__input-btn {
    font-size: 26px;
  }
}

@media (max-width: 500px) {
  .header__input-btn {
    font-size: 24px;
  }
}

@media (max-width: 360px) {
  .header__input-btn {
    left: 85%;
  }
}

.header__setting {
  padding: 10px;
  cursor: pointer;
}

.header__setting-logo svg {
  pointer-events: none;
}

.main {
  margin: auto;
}

.main__contener {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: auto;
}

@media (max-width: 600px) {
  .main__top {
    margin-bottom: 40px;
  }
}

@media (max-width: 500px) {
  .main__top {
    margin-bottom: 30px;
  }
}

.main__temper {
  font-size: 180px;
}

@media (max-width: 780px) {
  .main__temper {
    font-size: 160px;
  }
}

@media (max-width: 600px) {
  .main__temper {
    font-size: 130px;
  }
}

@media (max-width: 500px) {
  .main__temper {
    font-size: 110px;
  }
}

.main__celciy {
  font-size: 60px;
}

.main__discr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.main__inform {
  text-align: center;
  margin-left: 15px;
}

@media (max-width: 500px) {
  .main__inform {
    font-size: 20px;
  }
}

.footer {
  margin-bottom: 40px;
}

.footer__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 740px) {
  .footer__items {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 740px) {
  .footer__item {
    min-width: 250px;
  }
}

.footer__name {
  font-size: 18px;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-bottom: 10px;
}

.popup.active,
.popup__bg.active {
  display: block;
}

.popup__bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #fff;
  opacity: 0.3;
  display: none;
}

.ov {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #3669b1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid transparent;
}

.ov.active {
  border: 1px solid #091424;
}

.ov.active::after {
  position: absolute;
  content: "✓";
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup {
  display: none;
  position: fixed;
  z-index: 100;
  width: 70%;
  height: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #1b5ab3;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup__top {
  padding-bottom: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #34345f;
  margin-bottom: 15px;
}

.popup__close {
  cursor: pointer;
}

.popup__metric {
  padding-bottom: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #34345f;
  margin-bottom: 15px;
}

.popup__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.popup__color {
  padding-bottom: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #34345f;
  margin-bottom: 15px;
}

.popup__col1 {
  background-color: #498cec;
}

.popup__col2 {
  background-color: #49ec7f;
}

.popup__col3 {
  background-color: #ec49a8;
}

.popup__btn {
  padding: 5px 10px;
  background-color: #111166;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin: 20px auto;
  display: block;
}
