// Файл обнуляющих стилей
@import "nullstyle.scss";

.wraper {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	overflow: hidden;
	min-height: 100%;
	width: 100%;
}
img {
	max-width: 100%;
}
.hiden {
	display: none;
}
body {
	background: #498cec;
	//border: 1px solid #979797;
	font-family: "Poppins";
	font-size: 25px;
	font-weight: 400;
	//line-height: 120%;
	color: white;
}
body.noscrol {
	overflow: hidden;
}

main {
	flex: 1 1 auto;
}

.contener {
	max-width: 1120px;
	margin: 0 auto;
	padding: 0px 10px;
}

//==================header======================//
.header {
	padding: 75px 0;
	@media (max-width: 780px) {
		padding: 60px 0;
	}
	@media (max-width: 500px) {
		padding: 40px 0;
	}

	&__contener {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__info {
		transition: all 0.3s ease 0s;
	}

	&__city {
		font-size: 50px;
		margin-bottom: 9px;
		@media (max-width: 780px) {
			font-size: 46px;
		}
		@media (max-width: 500px) {
			font-size: 40px;
		}
	}

	&__select {
		display: flex;
		align-items: center;
		font-size: 18px;
		mix-blend-mode: normal;
		opacity: 0.6;
		@media (max-width: 440px) {
			flex-direction: column;
		}
	}

	&__select-city {
		cursor: pointer;
		margin-right: 35px;
		@media (max-width: 440px) {
			margin-bottom: 10px;
		}
	}

	&__geoloc {
		cursor: pointer;
		position: relative;
		padding-left: 15px;
		&::before {
			content: "";
			position: absolute;
			top: 2px;
			left: -5px;
			width: 15px;
			height: 15px;
			background: url(../img/location.svg) no-repeat center/cover;
		}
	}

	&__form {
		position: relative;
		transition: all 0.3s ease 0s;
	}

	&__input {
		padding: 30px 90px 30px 30px;
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
		border-radius: 8px;
		position: relative;
		width: 100%;
		font-size: 30px;
		color: #000000;
		border: 2px solid white;
		&:focus {
			border: 2px solid #0b6aca;
		}
		@media (max-width: 670px) {
			padding: 20px 60px 20px 20px;
			font-size: 26px;
		}
		@media (max-width: 500px) {
			padding: 10px 55px 10px 10px;
			font-size: 24px;
		}
		@media (max-width: 380px) {
			padding: 5px 45px 5px 5px;
			font-size: 24px;
		}
	}

	&__input-btn {
		font-size: 30px;
		color: #1086ff;
		position: absolute;
		top: 50%;
		left: 87%;
		transform: translateY(-50%);
		z-index: 2;
		cursor: pointer;
		@media (max-width: 670px) {
			font-size: 26px;
		}
		@media (max-width: 500px) {
			font-size: 24px;
		}
		@media (max-width: 360px) {
			left: 85%;
		}
	}

	&__setting {
		padding: 10px;
		cursor: pointer;
	}

	&__setting-logo svg {
		pointer-events: none;
	}
}

//===================main=================//
.main {
	margin: auto;

	&__contener {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__top {
		display: flex;
		align-items: flex-start;
		margin: auto;
		@media (max-width: 600px) {
			margin-bottom: 40px;
		}
		@media (max-width: 500px) {
			margin-bottom: 30px;
		}
	}

	&__temper {
		font-size: 180px;
		@media (max-width: 780px) {
			font-size: 160px;
		}
		@media (max-width: 600px) {
			font-size: 130px;
		}
		@media (max-width: 500px) {
			font-size: 110px;
		}
	}

	&__celciy {
		font-size: 60px;
	}
	&__discr {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 30px;
	}
	&__inform {
		text-align: center;
		margin-left: 15px;
		@media (max-width: 500px) {
			font-size: 20px;
		}
	}
}

//=====================footer==================//

.footer {
	margin-bottom: 40px;
	&__contener {
	}

	&__items {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 740px) {
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media (max-width: 740px) {
			min-width: 250px;
		}
	}

	&__name {
		font-size: 18px;
		mix-blend-mode: normal;
		opacity: 0.6;
		margin-bottom: 10px;
	}

	&__value {
	}
}

//====================popup============================//
.popup.active , 
.popup__bg.active {
	display: block;
}
.popup__bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background-color: #fff;
	opacity: 0.3;
	display: none;
}
.ov {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #3669b1;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	transition: all 0.3s ease 0s;
	border: 1px solid transparent;
}
.ov.active {
	border: 1px solid #091424;
	&::after {
		position: absolute;
		content: "✓";
		width: 20px;
		height: 20px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.3s ease 0s;
		
	}

}
.popup {
	display: none;
	position: fixed;
	z-index: 100;
	width: 70%;
	height: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #1b5ab3;
	border-radius: 10px;
	padding: 15px;
	transition: all 0.3s ease 0s;


	&__top {
		padding-bottom: 5px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 2px solid rgb(52, 52, 95);
		margin-bottom: 15px;
	}

	&__title {
	}

	&__close {
		cursor: pointer;
	}

	&__metric {
		padding-bottom: 5px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 2px solid rgb(52, 52, 95);
		margin-bottom: 15px;
	}

	&__title2 {
	}

	&__info {
		display: flex;
		gap: 10px;
	}

	&__celciy {
	}

	&__fareng {
	}

	&__color {
		padding-bottom: 5px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 2px solid rgb(52, 52, 95);
		margin-bottom: 15px;
	}

	&__col1 {
		background-color: #498cec;
	}

	&__col2 {
		background-color: #49ec7f;
	}

	&__col3 {
		background-color: #ec49a8;
	}

	&__btn {
		padding: 5px 10px;
		background-color: rgb(17, 17, 102);
		border-radius: 10px;
		margin: 20px auto;
		display: inline-block;
	}
}

